# Basic steps for developing a model with Pycaret

In [1]:
#!pip install pycaret

In [2]:
from pycaret.datasets import get_data
data1 = get_data(dataset = 'traffic')

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,Rush Hour,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,1,5545
1,None,289.36,0.0,0.0,75,Clouds,0,4516
2,None,289.58,0.0,0.0,90,Clouds,0,4767
3,None,290.13,0.0,0.0,90,Clouds,0,5026
4,None,291.14,0.0,0.0,75,Clouds,0,4918

In [3]:
from pycaret.regression import *

In [5]:
dataset = setup(data = data1, target = 'traffic_volume',
                session_id = 438)

In [6]:
best = compare_models()

In [7]:
tuned_best = tune_model(estimator = best)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [8]:
tuned_best = tune_model(estimator = best, fold = 5)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [9]:
final_model = finalize_model(estimator = tuned_best)

In [14]:
save_model(final_model, '/2_Automating the ML Model Cycle/save_model/rf_base_traffic')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['temp', 'rain_1h', 'snow_1h',
                                              'clouds_all', 'Rush Hour'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['holiday', 'weather_main'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['holiday', 'weather_main'],
                                     transformer=OneHotEncoder(cols=['holiday',
                                                                     'weather_main'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('actual_estimator',
                  LGBMRegressor(n_jobs=-1, random_state=438))]),
 'C:/Users/jalal/OneDrive/Desktop/jjj/2_Automating the ML Model Cycle/save_model/rf_base_traffic.pkl')

#### Predictions

In [15]:
saved_model = load_model('/2_Automating the ML Model Cycle/save_model/rf_base_traffic')

Transformation Pipeline and Model Successfully Loaded

In [17]:
import pandas as pd

# Example new data
new_data = pd.DataFrame({
    'holiday': ['None', 'None'],
    'temp': [292.15, 293.10],  # example temperatures
    'rain_1h': [0.0, 0.25],  # example rain values
    'snow_1h': [0.0, 0.0],  # example snow values
    'clouds_all': [40, 50],  # example cloud coverage percentages
    'weather_main': ['Clear', 'Rain'],  # example weather conditions
    'Rush Hour': [1, 0]  # example rush hour flags
})

In [18]:
predictions = predict_model(saved_model, data=new_data)
predictions.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,Rush Hour,prediction_label
0,None,292.149994,0.00,0.0,40,Clear,1,4571.114853
1,None,293.100006,0.25,0.0,50,Rain,0,2592.517413

#### Comparision between Actual Label and Predicted Label (inlcuding dataset with Actual label)

In [19]:
import pandas as pd

# Example new data with actual labels
new_data_with_actual = pd.DataFrame({
    'holiday': ['None', 'None'],
    'temp': [292.15, 293.10],  # example temperatures
    'rain_1h': [0.0, 0.25],  # example rain values
    'snow_1h': [0.0, 0.0],  # example snow values
    'clouds_all': [40, 50],  # example cloud coverage percentages
    'weather_main': ['Clear', 'Rain'],  # example weather conditions
    'Rush Hour': [1, 0],  # example rush hour flags
    'traffic_volume': [5500, 4600]  # actual traffic volume
})

In [20]:
from pycaret.regression import load_model

saved_model = load_model('/2_Automating the ML Model Cycle/save_model/rf_base_traffic')

Transformation Pipeline and Model Successfully Loaded

In [26]:
new_data_for_prediction = new_data_with_actual.drop(columns=['traffic_volume'])
predictions = predict_model(saved_model, data=new_data_for_prediction)

In [28]:
print(predictions.columns)

Index(['holiday', 'temp', 'rain_1h', 'snow_1h', 'clouds_all', 'weather_main',
       'Rush Hour', 'prediction_label'],
      dtype='object')

In [29]:
# Add the predictions to the original DataFrame with actual labels
new_data_with_actual['predicted_traffic_volume'] = predictions['prediction_label']

# Now you can compare
print(new_data_with_actual[['traffic_volume', 'predicted_traffic_volume']])

   traffic_volume  predicted_traffic_volume
0            5500               4571.114853
1            4600               2592.517413

In [30]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Actual and predicted values
actual_values = new_data_with_actual['traffic_volume']
predicted_values = new_data_with_actual['predicted_traffic_volume']

# Calculate MAE, MSE, RMSE, and R-squared
mae = mean_absolute_error(actual_values, predicted_values)
mse = mean_squared_error(actual_values, predicted_values)
rmse = np.sqrt(mse)
r2 = r2_score(actual_values, predicted_values)

# Print the performance metrics
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared (R²): {r2}")

Mean Absolute Error (MAE): 1468.183867272633
Mean Squared Error (MSE): 2446406.977294451
Root Mean Squared Error (RMSE): 1564.0994141340414
R-squared (R²): -11.081022110096054